html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
}

#root {
  min-height: 100%;
}

img,
svg,
iframe,
video,
canvas {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

[id] {
  scroll-margin-top: 5rem;
}
